@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex">
        <span class="col-2"></span>
        <span class="col-8">
            <br />
            <br />
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-block btn-primary">Login</a>
            <br />
            <br />
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-block btn-success">Register</a>
        </span>
    </div> 
</div>
