@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/lumen/bootstrap.min.css">
<link rel="stylesheet" href="~/Form-Completion-Progress-Bar/formProgressBar.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="~/Form-Completion-Progress-Bar/formProgressBar.jquery.js"></script>
<style>
    form {
        padding: 40px;
    }

    body {
        background-color: #fafafa;
    }
    #jQueryProgressFormBar > div{
display: block;
background: green;
width: 0;
}
#jQueryProgressFormBar > div.warn{
background: yellow;
}
#jQueryProgressFormBar > div.error{
background: red;
}
</style>

<h1 class="text-center mt-4">Create a new account</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        
        <input asp-for="Input.UserName" type="text" class="form-control" placeholder="Username" required>
    </div>

    <div class="mb-3">
        <input asp-for="Input.Email" class="form-control" placeholder="you@example.com" required>
    </div>

    <div class="mb-3">
        <label for="address">Address</label>
        <input name="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
    </div>

    <div class="mb-3">
        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
        <input name="address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select name="country" class="custom-select d-block w-100" id="country" required>
                <option value="">Choose...</option>
                <option>United States</option>
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select name="state" class="custom-select d-block w-100" id="state" required>
                <option value="">Choose...</option>
                <option>California</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input name="zip" type="text" class="form-control" id="zip" placeholder="" required>
        </div>
    </div>
    <hr class="mb-4">
    <div class="custom-control custom-checkbox">
        <input name="same address" type="checkbox" class="custom-control-input" id="same-address" required>
        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input name="saveinfo" type="checkbox" class="custom-control-input" id="save-info" required>
        <label class="custom-control-label" for="save-info">Save this information for next time</label>
    </div>
   
    <hr class="mb-4">



    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
</form>
<script>
    var elem = $("form").formProgressBar({transitionTime: 500});
</script>









<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <label><input asp-for="Input.Gender" value="M" type="radio" />Male</label>
                <label><input asp-for="Input.Gender" value="F" type="radio" />Female</label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" type="date" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>


            <input type="file" name="pic" accept="Image/*" />


            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
