@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<link href="~/Form-Completion-Progress-Bar/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Form-Completion-Progress-Bar/formProgressBar.css">
<script src="~/Form-Completion-Progress-Bar/jquery-3.1.1.js"></script>
<script src="~/Form-Completion-Progress-Bar/formProgressBar.jquery.js"></script>
<style>
    form {
        padding: 40px;
    }

    input{
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    #jQueryProgressFormBar > div {
        display: block;
        background: green;
        width: 0;
    }

    #jQueryProgressFormBar > div.warn {
        background: yellow;
    }

    #jQueryProgressFormBar > div.error {
        background: red;
    }
    li{
        list-style:none;
    }
</style>

<h1 class="text-center mt-4">Create a new account</h1>
<div class="d-flex col-12">

    <div class="col-3"></div>
    <form asp-route-returnUrl="@Model.ReturnUrl" class="text-center col-6" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input asp-for="Input.UserName" type="text" class="form-control text-center" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input asp-for="Input.Email" class="form-control text-center" placeholder="Email : you@example.com" required>
        </div>

        <div class="mb-3">
            <input asp-for="Input.Password" class="form-control text-center" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control text-center" placeholder="Confirm Password" required>
        </div>
        <div class="mb-3">
            <label><input asp-for="Input.Gender" value="M" type="radio" required />Male</label>
            <label><input asp-for="Input.Gender" value="F" type="radio" required />Female</label>
        </div>
        <div class="mb-3">
            <input asp-for="Input.BirthDate" class="form-control text-center" type="date" required />
        </div>
        <div class="mb-3">
            <label class="h6">Choose Profile Picture </label>
            <input type="file" name="pic" class="btn" accept="Image/*" />
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
        <div asp-validation-summary="All" class="text-center text-danger list-group-item-warning shadow"></div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    </form>
</div>
<script>
    var elem = $("form").formProgressBar({ transitionTime: 500 });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
