<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <a asp-controller="Member" asp-action="Home">
                    <img src="~/images/raisehand.png" width="50" height="40" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-0">
                        @{
                            var claims = User.Claims.Any(c => c.Value == "Admin");
                            if (claims)
                            {
                                <li class="nav-item">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-warning
                                           text-danger" asp-action="SearchUsers"
                                           asp-controller="Admin">Admin View</a>
                                        <a class="btn btn-outline-info"
                                           asp-action="Home"
                                           asp-controller="Member">Member View</a>
                                    </div>
                                </li>
                            }
                        }


                        <li class="nav-item" style="width: 9rem;">

                        </li>

                        <li class="nav-item">

                            <form class="form-inline my-2 my-lg-0" action="/Member/Search">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                                <input type="submit" class="btn btn-outline-primary my-2 my-sm-0" value="Search" />
                            </form>
                        </li>


                        <li class="nav-item">
                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Member" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Member" asp-action="Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/User/Setting">Settings</a>

                        </li>
                        <!--this is the line responsible for adding partial view of login and register ancor tags -->
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
