@{
    ViewData["Title"] = "Developed by";
}

<h3>Developed By : </h3>
<hr />
<br />
<ul class="list-group list-group-lg text-lg-center">
    <li class="list-group-item">Doaa Ahmed</li>
    <li class="list-group-item">Kareem Amr</li>
    <li class="list-group-item">Mahmoud Ahmed</li>
    <li class="list-group-item">Maisa Usama</li>
    <li class="list-group-item">Mostafa Mahmoud</li>
</ul>
