@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "CreateRole";
}

<main role="main" class="pb-3">
    <form>
        <input type="email" class="form-control" name="roleName" placeholder="Role Name">
        <input type="email" class="form-control" name="roleDesc" placeholder="Role Description">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</main>

