@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "CreateRole";
}

    <main role="main" class="pb-3">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
        <form class="text-center" method="post">
            <input type="text" class="form-control" name="roleName" placeholder="Role Name">
            <br />
            <input type="text" class="form-control" name="roleDesc" placeholder="Role Description">
            <hr />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </main>

