
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404 Not Found</title>
    <style>
        body {
            background: url(/Images/404NotFoundB&W.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 8%;
            background-color: ghostwhite;
        }
    </style>
</head>
<body>
</body>
</html>
