<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="~/slick/slick.css">
    <link rel="stylesheet" href="~/slick/slick-theme.css">
    <link rel="stylesheet" href="~/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-infinite-loop.css" />
    
    <style>
        #infinite{
            min-height:60px;
            height:60px;
        }
        #contact{
            min-height:0px;
        }
    </style>

</head>
<body>
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <a href="/Home/Index" class="navbar-brand">NoteBook</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="/Home/Index">Join Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#dev">Developers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section id="dev" class="tm-section-pad-top container">
        @RenderBody()
    </section>


    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2 p-0">

        <div class="container tm-container-contact">

            <div class="row">

                <div class="text-center col-12 mt-3">
                    <h2 class="tm-section-title mb-4">Contact Us</h2>
                    <p class="mb-5">
                       We are glad to hear from you
                    </p><br>
                </div>

                <div class="col-sm-12 col-md-6">
                    <form action="" method="get">
                        <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
                        <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
                        <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                        <button type="submit" class="btn tm-btn-submit">Submit</button>
                    </form>
                </div>

                <div class="col-sm-12 col-md-6">

                    <div class="contact-item">
                        <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                            <i class="far fa-2x fa-comment mr-4"></i>
                            <span class="mb-0">Chat Online</span>
                        </a>
                    </div>

                    <div class="contact-item">
                        <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                            <i class="far fa-2x fa-envelope mr-4"></i>
                            <span class="mb-0">mail@company.com</span>
                        </a>
                    </div>

                    <div class="contact-item">
                        <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                            <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                            <span class="mb-0">Our Location</span>
                        </a>
                    </div>

                    <div class="contact-item">
                        <a rel="nofollow" href="tel:0100200340" class="item-link">
                            <i class="fas fa-2x fa-phone-square mr-4"></i>
                            <span class="mb-0">Phone</span>
                        </a>
                    </div>

                    <div class="contact-item">&nbsp;</div>

                </div>


            </div><!-- row ending -->

        </div>

        <footer class="text-center small tm-footer">
            <p class="mb-0">
                Copyright &copy; 2020 Mini FB Project Designed by 3MDK
            </p>
        </footer>

    </section>


    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/slick/slick.min.js"></script>
    <script src="~/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/jquery.singlePageNav.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/AjaxUN/jquery.unobtrusive-ajax.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script>
        // Detect window scroll and update navbar
        $(window).scroll(function (e) {
            if ($(document).scrollTop() > 100) {
                $('.tm-navbar').addClass("scroll");
            } else {
                $('.tm-navbar').removeClass("scroll");
            }
        });

// Close mobile menu after click
        $('#tmNav a').on('click', function () {
            $('.navbar-collapse').removeClass('show');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>