
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    ViewData["Title"] = "Search";
}

<div class="col-12" style="padding-left: 85px;">
    <table class="table-borderless col-6 ml-3">
        <thead>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td>
                        <a><img class="Myimage img-fluid" src="~/Images/3.jpeg" /></a>
                    </td>
                    <td>
                        <a href="#" class="MyLab ml-1">Fayrouz Ahmed</a>
                    </td>
                    <td>
                        <input type="button" value="Add Friend" class=" btn btn-primary rounded" style="width:105px;height:35px;color:white;" />
                        <input type="button" value="UnFriend" class=" btn btn-danger rounded" style="width:95px;height:35px;color:white;" />
                    </td>
                </tr>
                }
            </tbody>*@
        <tbody>
            <tr>
                <td>
                    <a><img class="Myimage img-fluid" src="~/Images/batoot.png" /></a>
                </td>
                <td>
                    <a href="#" class="MyLab ml-1">Fayrouz Ahmed</a>
                </td>
                <td>
                    <input type="button" value="Add Friend" class=" btn btn-primary rounded" style="width:105px;height:35px;color:white;" />
                    <input type="button" value="UnFriend" class=" btn btn-danger rounded" style="width:95px;height:35px;color:white;" />
                </td>
            </tr>
            <tr>
                <td>
                    <a><img class="Myimage img-fluid" src="~/Images/batoot.png" /></a>
                </td>
                <td>
                    <a href="#" class="MyLab ml-1">Khaled Mohamed</a>
                </td>
                <td>
                    <input type="button" value="Add Friend" class=" btn btn-primary rounded" style="width:105px;height:35px;color:white;" />
                    <input type="button" value="UnFriend" class=" btn btn-danger rounded" style="width:95px;height:35px;color:white;" />
                </td>
            </tr>
            <tr>
                <td>
                    <a><img class="Myimage img-fluid" src="~/Images/batoot.png" /></a>
                </td>
                <td>
                    <a href="#" class="MyLab ml-1">Engy Samy</a>
                </td>
                <td>
                    <input type="button" value="Add Friend" class=" btn btn-primary rounded" style="width:105px;height:35px;color:white;" />
                    <input type="button" value="UnFriend" class=" btn btn-danger rounded" style="width:95px;height:35px;color:white;" />
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img class="Myimage img-fluid" src="~/Images/batoot.png" /></a>
                </td>
                <td>
                    <a href="#" class="MyLab ml-0">Menna Fady</a>
                </td>
                <td>
                    <input type="button" value="Add Friend" class="btn btn-primary rounded" style="width:105px;height:35px;color:white;" />
                    <input type="button" value="UnFriend" class="btn btn-danger rounded" style="width:95px;height:35px;color:white;" />
                </td>
            </tr>
        </tbody>
    </table>
</div>


