@model IEnumerable<User>
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    ViewData["Title"] = "Search";
}

<div class="col-12">
    <table class="table col-6 offset-3">       
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td class="col-6 d-flex">
                        <div class="col-6"></div>
                        <div class="col-6 align-self-center">
                            @if (item?.Photo == null)
                            {
                                <img src="~/Images/bubble.jpeg" class="img-fluid rounded-circle" />
                            }
                            else
                            {
                                <img src="data:image/*;base64,@Convert.ToBase64String(item?.Photo)" class="img-fluid rounded-circle" />
                            }
                        </div>
                    </td>
                    <td class="align-middle col-6">
                        <a href="/Member/Profile/@item.Id" class="h4 align-baseline text-primary">@item.UserName</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
