@page
@model AccessDeniedModel
@{
    Layout = null;
}
    <title>Access denied</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<header class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
