@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = null;
}
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<style>
    body {
        background: url('/images/Blocked.png');
        background-repeat: no-repeat;
        background-position-x: center;
        /*background-color:red;*/
    }
</style>
<header>
    
</header>
<body class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</body>
