@model IEnumerable<User>
@inject UserManager<User> userManager
@inject RoleManager<Role> rm
@inject FB_Project_DB_Model_int_Key.Data.ApplicationDbContext dbContext

@{
    ViewData["Title"] = "AjaxSearch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <input type="text" id="txtsearch" placeholder="Enter Name" class="form-control" />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="DataSearching">
            @foreach (var item in Model)
            {
                <tr style="display:flex;">
                    <td style="width:15%;">
                        @if (item?.Photo == null)
                        {
                            <img src="~/Images/bubble.jpeg" class="img-fluid" />
                        }
                        else
                        {
                            <img src="data:image/*;base64,@Convert.ToBase64String(item?.Photo)" class="img-fluid" />
                        }
                    </td>
                    <td class="d-flex align-content-center col-3">
                        <a href="/Member/Profile/@item.Id" class="h5 align-self-center d-flex">@item.UserName</a>
                    </td>
                    <td class="d-flex col-1"><input type="button" value="Block" class=" btn btn-dark rounded align-self-center" /></td>
                    <td class="col-6 d-flex">
                        <form action="/Admin/UpdateRole/@item.Id" class="align-self-center">
                            @{ int counter = 0;}
                            @foreach (var r in rm.Roles)
                            {
                                <label>@r.Name</label>
                                if (await userManager.IsInRoleAsync(item, r.Name))
                                {
                                    <input type="checkbox" name="role+@counter" value="@r.Name" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="role+@counter" value="@r.Name" />
                                }
                                counter++;

                            }
                            <input type="submit" value="Update Roles" class="btn btn-outline-warning" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/js/jquery/jquery-3.5.0.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>*@
    <script>
        $("#txtsearch").on("keyup", function () {
            var txtenter = $(this).val();
            $("table tr").each(function (results) {
                if (results !== 0) {
                    var id = $(this).find("td:nth-child(2)").text();
                    if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            });
        });
    </script>
}

@{
    #region old code


    @*<script>$(document).ready(function () {
            $("#searchButton").click(function () {
                var SearchBy = $("#searchBy").val();
                var SearchValue = $("#Search").val();
                var SetData = $("#DataSearching");
                SetData.html("");
                $.ajax({
                    type: "post",
                    url: "/Admin/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                    contentType: "html",
                    success: function (result) {
                        if (result.length == 0)
                            SetData.append('<tr style="color:red"><td colspan="3">No Match</td></tr>')
                        else {
                            $.each(result, function (index, value) {
                                var Data = "<tr>" + "<td>" + value.Id + "</td>" +
                                    "<td>" + value.UserName + "</td>" +
                                    "<td>" + value.Email + "</td>" +
                                    "</tr>";
                                SetData.append(Data);
                            })
                        }
                    }
                });
            });
        });</script>*@
    #endregion
}